@import '../vars'

.menu__list
  display: flex
  align-items: center
  list-style: none
  justify-content: center
  padding-left: 0
  margin-right: -40px

.menu__item
  margin-right: 40px

.menu__link
  color: $text
  transition: all .5s ease
  &:hover
    color: $blue
    text-decoration: none