@import '../vars'

.screen
  display: flex
  flex-direction: column
  height: 100vh

.screen_middle
  display: none

.screen_padding
  padding: 80px 0

.screen_mobile
  display: none

.screen_bg_gray
  background: $bgGray

.screen_min_height
  min-height: 100vh
  height: auto

.screen__content
  max-width: 1180px
  margin: 0 auto